/* Google Font Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */
.container{
    max-width: 1440px;
    margin: 0 auto;
}

.title-text-color{
    color: #131313;
}
.description-text-color{
    color: #727272;
}

.btn-primary{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 20px 25px;
    background-color: #ff900e;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: darkgoldenrod;
}

/* Header Section Styles */

    header{
        background: #ff900e1a;
    }
    /* NavBar Styles */
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
    }

    .nav-title{
        font-size: 45px;
        font-weight: 700;
    }

    .nav-links{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .nav-links li{
        list-style: none;
    }
    .nav-links li >a {
        text-decoration: none;
        color: #424242;
        font-size: 18px;
        font-weight: 500;
    }

     /* Banner */
    .banner-content{
        max-width: 860px;
        text-align: center;
        margin: 116px auto 50px auto;
        
    }
    .banner-title{
        font-size: 64px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 30px;
        
    }
    .banner-description{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 32px;
    }

    .banner-img{
        padding-bottom: 50px;
    }

    /*Quick List Section Styles */
    #quick-list-section-container{
        display: flex;
        justify-content:center;
        align-items: center;
        gap: 80px;
        margin: 130px auto 0 auto;
    }
    .team-img-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
    }
    .team-title{
        font-size: 45px;
        font-weight: 700;
        line-height: 53px;
        max-width: 460px;
    }
    .team-title-1{
        color: #727272;
        font-weight: 500;
    }
    .team-title-2{
        color: #FF900E;

    }
    .team-description{
        max-width: 530px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-top: 24px;
        margin-bottom: 32px;
    }

    /* Feature Section Styles */
    #feature-container{
        display: flex;
        justify-content:center;
        align-items: center;
        margin-top: 130px;
        gap: 150px;
    }
   
    .feature-title {
        font-size: 45px;
        font-weight: 700;
        line-height: 53px;
        border-left: 5px solid #ff900e;
        padding-left: 20px;
        max-width: 460px;
    }
    .feature-description{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        max-width: 580px;
        margin-top: 24px;
        margin-bottom: 30px;
    }

    .card{
        max-width: 580px;
        background: #ffffff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.06);
        margin-bottom: 20px;
    }
    .card h4{
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        margin-bottom: 10px;
    }
    .card p{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }

    .feature-img img{
       margin-top: 130px;
    }

    .feature-btn{
        position: relative;
        top: -150px;
        left: -70px;
        
    }
    .experience-badge{
        font-size: 35px;
        font-weight: 600;
        padding: 40px;
    }
  
    .experience-title{
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
       
    }
    /* Facts Section Styles */
   
    #facts-section h2{
        font-size: 45px;
        font-weight: 700;
        line-height: 53px;
    }
    .facts-section-description{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        max-width: 540px;
        margin-top: 24px;
    }
    .facts-card-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 100px;
        margin-top: 80px;
    }
    .facts-card{
        border: 1px solid #ff900e;
        background-color: #ffffff;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 250px;
    }
    .facts-card-content{
        text-align: center;
        
    }
    .facts-card-number{
        color: #424242;
        font-size: 45px;
        font-weight: 600;
        margin: 10px auto;
    }
    .facts-card-title{
        color: #727272;
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
    }
    /* Sponser Section Styles */
    #sponser-section{
        margin:130px auto;
    }
    .sponser-section-title{
        font-size: 45px;
        font-weight: 700;
        line-height: 53px;
        text-align: center;
    }
    .sponser-section-des{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        max-width: 540px;
        margin: 24px auto 0px auto;
    }
    .sponser-company-img-container{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        justify-items:center ;
        align-items: center;
        margin-top: 80px;
        gap: 150px;
    }
    .sponser-company-img-container{
        filter: grayscale(100%);
    }
 

/* Responsive Styles For Small Device */
@media screen and (max-width:576px) {
/* Header Section Responsive For Mobile */
    /* Navbar */
    nav{
        flex-direction: column;
        padding-top: 40px;
    }
    .nav-title{
        font-size: 30px;
    }
    .nav-links{
        margin-top: 30px;
        gap: 25px;
    }
    /* Banner */
    .banner-content{
       margin: 80px 15px 30px 15px;
    }
    .banner-title{
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .banner-description{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .banner-img{
        padding-bottom: 0px;
    }
    .banner-img img{
        width: 100%;
        vertical-align: bottom;
    }
    .btn-primary{
        font-size: 16px;
        padding: 18px 20px;
    }

    /*Quick List Section Styles */
    #quick-list-section-container{
        flex-direction: column-reverse;
        margin: 60px 25px;
        gap: 50px;
    }
  
    .team-img-container{
        grid-template-columns: repeat(1 ,1fr);
    }
    .team-img-container img{
        width: 100%;
    }
    .team-title{
        font-size: 35px;
        line-height: 45px;
    }
    .team-description{
        margin-top: 15px;
        margin-bottom: 20px;
    }
    /* Feature Section Styles */

    #feature-container{
        flex-direction: column;
        margin: 80px 25px 0 25px;
        gap: 0;
    }
    .feature-title{
        font-size: 35px ;
        line-height: 40px;
        padding-left: 10px;
    }
    .card{
        width: 100%;
    }
    .card p ,
    .experience-title{
        font-size: 14px;
    }
    .feature-img img{
        width: 100%;
        margin-top: 0;
    }
    .feature-btn{
        top: -50px;
        left:-10px;
    }
    .experience-badge{
        padding: 25px;
    }
    .experience-years{
        font-size: 25px;
    }
    /* Facts Section Styles */
     #facts-section{
        margin: 30px 25px 0 25px;
    }
    .facts-card-container{
        grid-template-columns: repeat(1,1fr);
        margin: 50px 0px;
        gap: 25px;
    }
    #facts-section h2{
        font-size: 35px;
    }
    .facts-section-description{
        margin-top: 10px;
    }
    .facts-card{
        width: 100%;
    }
    /* Sponser Section Styles */
      #sponser-section{
        margin:80px 25px;
    }
    .sponser-section-title{
        font-size: 35px;
    }
    .sponser-section-des{
        margin: 15px auto 0 auto;
    }
    .sponser-company-img-container{
        grid-template-columns: repeat(2,1fr);
        margin: 50px 25px 0 25px;
        gap: 40px;
    }
    .sponser-company-img-container img{
        width: 100%;
    }
        
   
}

/* Responsive Styles For Tablet  */
@media screen and (min-width:576px) and (max-width:992px) {
/* Header Section Responsive For Tablet */ 
    /* Navbar */
    nav{
        padding: 40px 30px;
    }
    .nav-title{
        font-size: 35px;
    }
    .nav-links{
        gap: 20px;
    }
    /* Banner */
    .banner-content{
        margin: 60px auto 30px auto;
    }
    .banner-title{
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 0px;
    }
    .banner-description{
        max-width: 600px;
        margin:20px auto;
    }
    .banner-img{
        padding-bottom: 0;
    }
     .banner-img img{
        width: 100%;
        vertical-align: bottom;
    }

    /*Quick List Section Styles */
    #quick-list-section-container{
        flex-direction: column-reverse;
        margin: 70px auto;
    }
    .team-content-container{
        margin-right: 150px;
    }
    .team-description{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* Feature Section Styles */
      #feature-container{
        flex-direction: column;
        margin: 80px 30px 0 30px;
        gap: 20px;
    }
     .card{
        max-width: 100%;
    }
      .feature-img img{
        width: 100%;
        margin-top: 0;
    }
    .feature-btn{
        top: -100px;
        left: -20px;
    }
    /* Facts Section Styles */
    #facts-section{
        margin: 0px 30px;
    }
    
     .facts-card-container{
        grid-template-columns: repeat(2,1fr);
        margin: 40px 0;
        gap: 30px;
     }
    .facts-card{
        width: 100%;
    }
    /* Sponser Section Styles */
      #sponser-section{
        margin:80px 30px;
    }
    .sponser-company-img-container{
        grid-template-columns: repeat(2,1fr);
        gap: 80px;
    }
}